/*
 * @Description: scss变量
 * @Version: 1.0
 * @Autor: humenglei
 * @Date: 2021-07-22 09:45:32
 * @LastEditors: humenglei
 * @LastEditTime: 2021-08-13 09:59:26
 */
$color-blue:#4183F4;
$color-green:#67C23A;
$color-green2:#369b04;
$color-red:#F56C6C;
$color-red2:#f31d1d;
$color-orange:#E6A23C;
$color-orange2:#dd8706;